
.titulo-selecao-de-participantes{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    color: #4B69FD;
}
